.content__element {
	display: block;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	text-align: center;
}

.content__element_description-title,
.content__element_description-logo p {
	font-weight: 600;
}

.content__element_description-link {
	font-weight: 400;
}

.content__element_link-image img {
	border-radius: 5px;
}



